<%= form_with model: product_model do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <% @pm.errors.full_messages_for(:name).each do |msg| %>
      <%= msg %><br><br>
    <% end %>
  </div>

  <div>
    <%= f.label :weight %>
    <%= f.number_field :weight, placeholder: 'em gramas' %>
    <% @pm.errors.full_messages_for(:weight).each do |msg| %>
      <%= msg %><br><br>
    <% end %>
  </div>

  <div>
    <%= f.label :width %>
    <%= f.number_field :width, placeholder: 'em centímetros' %>
    <% @pm.errors.full_messages_for(:width).each do |msg| %>
      <%= msg %><br><br>
    <% end %>
  </div>

  <div>
    <%= f.label :height %>
    <%= f.number_field :height, placeholder: 'em centímetros' %>
    <% @pm.errors.full_messages_for(:height).each do |msg| %>
      <%= msg %><br><br>
    <% end %>
  </div>

  <div>
    <%= f.label :depth %>
    <%= f.number_field :depth, placeholder: 'em centímetros' %>
    <% @pm.errors.full_messages_for(:depth).each do |msg| %>
      <%= msg %><br><br>
    <% end %>
  </div>

  <div>
    <%= f.label :sku %>
    <%= f.text_field :sku, placeholder: '20 carácteres' %>
    <% @pm.errors.full_messages_for(:sku).each do |msg| %>
      <%= msg %><br><br>
    <% end %>
  </div>

  <div>
    <%= f.label :supplier_id %>
    <%= f.collection_select :supplier_id, @suppliers, :id, :brand_name, :include_blank => true %>
    <% @pm.errors.full_messages_for(:supplier).each do |msg| %>
      <%= msg %><br><br>
    <% end %>
  </div>

  <%= f.submit @pm.persisted? ? 'Salvar Modelo de Produto' : 'Adicionar Modelo de Produto' %>
  
<% end %>