<h1><%= @pm.name %></h1>

<section>
  <p>
    peso: <%=  @pm.weight %> gramas
  </p>
  <p>
    largura: <%= @pm.width %> cms
  </p>
  <p>
    altura: <%= @pm.height %> cms
  </p>
  <p>
    profundidade: <%= @pm.depth %> cms
  </p>
  <p>
    SKU: <%= @pm.sku %>
  </p>
  <p>
    Fornecedor: <%= @pm.supplier.brand_name %>
  </p>
</section>

<%= link_to 'voltar', product_models_path %>
<%= link_to 'Editar Modelo de Produto', edit_product_model_path %>