<h1>Galpões & Estoque</h1>

<h2>Galpões</h2>

<% if @warehouses.empty? %>
  <p>Não existem galpões cadastrados</p>
<% else %>
  <% @warehouses.each do |warehouse| %>
    <div>
      <%= link_to warehouse.name, warehouse_path(warehouse.id) %>
      <%= "Código: #{warehouse.code}" %>
      <%= "Cidade: #{warehouse.city}" %>
      <%= "#{warehouse.area} m2" %>
    </div>
  <% end %>
<% end %>

<div>
  <%= link_to 'Adicionar galpão', new_warehouse_path %>
</div>