<h1>Resultado da busca por: <%= @query %> </h1>

<p><%= @orders.count %> <%= Order.model_name.human(count: @orders.count) %> <%= I18n.t(:found, count: @orders.count) %> </p>
<% @orders.each do |order| %>
  <%= render order %>
<% end %>