<h1>Detalhes do pedido <%= @order.code %></h1>

<section>
  <div>
    <p><%= Order.human_attribute_name(:warehouse) %>: <%= @order.warehouse.full_description %></p>
  </div>
  <div>
    <p><%= Order.human_attribute_name(:supplier) %>: <%= @order.supplier.full_description %></p>
  </div>
  <div>
    <p>Usuário responsável: <%= @order.user.name %> | <%= @order.user.email %> </p>
  </div>
  <div>
    <p>Data prevista de entrega: <%= I18n.localize(@order.estimated_delivery_date) %></p>
  </div>
</section>

<%= link_to 'Editar pedido', edit_order_path(@order) %>