<h1>Detalhes do pedido <%= @order.code %></h1>

<section>
  <div>
    <p><%= Order.human_attribute_name(:warehouse) %>: <%= @order.warehouse.full_description %></p>
  </div>
  <div>
    <p><%= Order.human_attribute_name(:supplier) %>: <%= @order.supplier.full_description %></p>
  </div>
  <div>
    <p>Usuário responsável: <%= @order.user.name %> | <%= @order.user.email %> </p>
  </div>
  <div>
    <p>Data prevista de entrega: <%= I18n.localize(@order.estimated_delivery_date) %></p>
  </div>
   <div>
    <p>Status do pedido: <%= Order.human_attribute_name(@order.status) %></p>
  </div>
</section>

<% if @order.pending? %>
  <%= button_to 'Pedido entregue', delivered_order_path(@order) %>
  <%= button_to 'Pedido cancelado', canceled_order_path(@order) %>
  <%= link_to 'Editar pedido', edit_order_path(@order) %>
<% end %>
