<h1>Fornecedor <%= @supplier.brand_name %> </h1>

<div>
  <p>O fornecedor <%= @supplier.corporate_name %> fica localizado no endereço <%= @supplier.full_address %>, na cidade <%= @supplier.city %>, no estado <%= @supplier.state %>. </p>

  <p>CNPJ: <%= @supplier.registration_number %></p>
  <p>E-mail: <%= @supplier.email %></p>
</div>

<%= link_to 'Editar fornecedor', edit_supplier_path %>