<h1>Galpão <%= @warehouse.code %> </h1>

<div>
  <p>Nome: <%= @warehouse.name %></p>
  <p>Cidade: <%= @warehouse.city %></p>
  <p>Área: <%= @warehouse.area %> m2</p>
  <p>Endereço: <%= @warehouse.address %></p>
  <p>Cep: <%= @warehouse.zip_code %></p>
  <p>Descrição: <%= @warehouse.description %></p>
</div>

<section>
  <h2>Itens em estoque</h2>
  <% if @stocks.any? %>
    <% @stocks.each do |p, q| %>
      <%= q %>x <%= p.full_description %>
    <% end %>
  <% else %>
    <h4>Nenhum item em estoque</h4>
  <% end %>
</section>



<%= link_to 'Voltar', root_path %>
<%= link_to 'Editar galpão', edit_warehouse_path(@warehouse.id) %>
<%= button_to 'Deletar galpão', @warehouse, method: :delete, form: { data: { turbo_confirm: "Tem certeza?" }} %>