<h1>Galpão <%= @warehouse.code %> </h1>

<div>
  <p>Nome: <%= @warehouse.name %></p>
  <p>Cidade: <%= @warehouse.city %></p>
  <p>Área: <%= @warehouse.area %> m2</p>
  <p>Endereço: <%= @warehouse.address %></p>
  <p>Cep: <%= @warehouse.zip_code %></p>
  <p>Descrição: <%= @warehouse.description %></p>
</div>

<%= link_to 'Voltar', root_path %>