<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="text-center mb-4 p-4">
      <h1><%= link_to 'Galpões & Estoque', root_path %></h1>
      <nav>
        <%= link_to 'Fornecedores', suppliers_path %>
        <%= link_to 'Modelos de Produtos', product_models_path %>
      </nav>
    </header>

    <main class="container">
      <div>
        <strong>
          <%= notice %>
          <%= alert %>
        </strong>
      </div>
      <%= yield %>
    </main>

    <footer class="text-center">
      Projeto feito para o <%= link_to 'TreinaDev', 'https://treinadev.com.br/home', target: "_blank" %>, Júnior <%= Date.current.year %>
    </footer>
  </body>
</html>
